<div class="container">
  <div class="blog-post">

    <h1 class="blog-post-title">{{article.titre}}</h1>
    <p class="blog-post-meta">Écrit par :
      {{article.pseudo}}
      le
      {{article.createdAt}}
      <span class="badge bg-secondary">{{article.categorie}}</span></p>
    <div class="container">
      <p>{{article.contenu}}</p>
    </div>
  </div>
</div>